parameters:
	ignoreErrors:
		-
			message: "#^Comparison operation \"\\<\" between 60004 and 50300 is always false\\.$#"
			count: 1
			path: tests/Fixture/Kernel.php

		-
			message: "#^Method Zenstruck\\\\Twig\\\\Tests\\\\Fixture\\\\Kernel\\:\\:configureRoutes\\(\\) has parameter \\$routes with no type specified\\.$#"
			count: 1
			path: tests/Fixture/Kernel.php

		-
			message: "#^Access to an undefined static property Zenstruck\\\\Twig\\\\Tests\\\\IntegrationTest\\:\\:\\$container\\.$#"
			count: 1
			path: tests/IntegrationTest.php

